#号后面的东西不一定有用但是先不要删.

In [1]:
# import urllib.request, urllib.parse, urllib.error
# import lxml
# from collections import Counter
# from matplotlib import pyplot as plt
# import xml.etree.ElementTree as ET
# import ssl
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json,sys
import re

In [2]:
url = 'https://datahub.io/core/covid-19#data-cli'
html_text = requests.get(url).text
soup = BeautifulSoup(html_text, 'html.parser')

In [4]:
html = []
df = {}
count = 1
for link in soup.find_all('a'):
    str_link = str(link.get('href'))
    
    if str_link.startswith('/core/covid-19/r/') and re.search('json$',str_link):
        html.append('https://datahub.io' + str_link)
        js = requests.get('https://datahub.io' + str_link).json() 
        df[count] =  pd.DataFrame(js)
        count += 1

In [5]:
html # so we have total 8 dataframe with using under data

['https://datahub.io/core/covid-19/r/countries-aggregated.json',
 'https://datahub.io/core/covid-19/r/key-countries-pivoted.json',
 'https://datahub.io/core/covid-19/r/reference.json',
 'https://datahub.io/core/covid-19/r/time-series-19-covid-combined.json',
 'https://datahub.io/core/covid-19/r/us_confirmed.json',
 'https://datahub.io/core/covid-19/r/us_deaths.json',
 'https://datahub.io/core/covid-19/r/us_simplified.json',
 'https://datahub.io/core/covid-19/r/worldwide-aggregate.json']

In [6]:
df[1] # example: the 1st table

        Confirmed      Country        Date  Deaths  Recovered
0               0  Afghanistan  2020-01-22       0          0
1               0  Afghanistan  2020-01-23       0          0
2               0  Afghanistan  2020-01-24       0          0
3               0  Afghanistan  2020-01-25       0          0
4               0  Afghanistan  2020-01-26       0          0
...           ...          ...         ...     ...        ...
131707     133593     Zimbabwe  2021-11-19    4699          0
131708     133615     Zimbabwe  2021-11-20    4699          0
131709     133647     Zimbabwe  2021-11-21    4699          0
131710     133674     Zimbabwe  2021-11-22    4699          0
131711     133674     Zimbabwe  2021-11-23    4699          0

[131712 rows x 5 columns]